html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.text-darkred {
  color: #780000 !important;
}

.text-darkblue {
  color: #003049 !important;
}
.text-lighterblue {
  color: #013a63 !important;
}
.text-darkestblue {
  color: #04070a !important;
}
.text-lighterred {
  color: #c1121f !important;
}

/*navbar sil*/
.navbar-brand{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin-right: 7rem !important;
}

.nav-link {
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.5rem 1.5rem !important;
}


.nav-link:hover {
  background-color: rgba(0, 47, 86, 0.1); 
  color: #002F56 !important;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.navbar-nav{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 2.5rem !important;
}

.nav-link-planner {
  background-color: #002F56; 
  color: #ffffff !important;  
  border: 1px solid #002F56;
  padding: 0.25rem 1.5rem !important; 
  border-radius: 50px;
}

.nav-link-log {
  display: inline-flex;     
  align-items: center;      
  justify-content: center;
  color: #ffffff !important;
  background-color: #780000 !important;
  border: 1px solid #780000;
  padding: 0.25rem 1.5rem !important;
}
.nav-link-log:hover {
  background-color: rgba(120, 0, 0, 0.1) !important;
  color: #780000 !important;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}